.form {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 420px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.add-button {
    margin-right: 0px;
}