<div class="container">
    <h2>
        New colaborator register
    </h2>
    <div class="information">
        <div class="labels">
            <label for="new-name">
                Name:
            </label>
            <label for="new-email">
                Email:
            </label>
            <label for="new-role">
                Role:
            </label>
            <label for="new-status">
                Status:
            </label>
            <label for="new-deliveriesMade">
                Deliveries made:
            </label>
            <label for="new-deliveriesInProgress">
                Deliveries in progress:
            </label>
            <label for="favorited">
                Favorite:
            </label>
        </div>
        <div class="values">
            <input type="text" id="new-name" #colaboratorName />
            <input type="email" id="new-email" #colaboratorEmail />
            <select id="new-role" #colaboratorRole>
                <option [value]="role.name" *ngFor="let role of roles">
                    {{role.name}}
                </option>
            </select>
            <select id="new-status" #colcaboratorStatus>
                <option [value]="status.name" *ngFor="let status of statuses">
                    {{status.name}}
                </option>
            </select>
            <input type="number" min="0" id="new-deliveriesMade" #colaboratorDeliveriesMade />
            <input type="number" min="0" id="new-deliveriesInProgress" #colaboratorDeliveriesInProgress />
            <input class="checkbox" type="checkbox" id="favorited" [(ngModel)]="favorited">
        </div>

    </div>
    <button type="button" (click)="add(
        colaboratorName.value,
        colaboratorEmail.value,
        colaboratorRole.value,
        colcaboratorStatus.value,
        colaboratorDeliveriesMade.value,
        colaboratorDeliveriesInProgress.value
    )">
        Finish
    </button>
</div>