.container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.container h2 {
    color: #731aeb;
}

.container .information {
    display: flex;
    flex-direction: row;
}

.container span {
    align-self: flex-end;
    margin-bottom: 10px;
}

.container .information .labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container .information .values {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.container .information .values input {
    margin-top: 10px;
}

.container button {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #731aeb;
    color: black;
    border-color: white;
    width: fit-content;
}

.container button:hover {
    background-color: white;
    border-color: #731aeb;
    border-radius: 10%;
    cursor: pointer;
}