<div class="container" (change)="resetChanged()">
    <h2>
        Passwod Redefinition
    </h2>
    <div class="information">
        <div class="labels">
            <label for="userEmail">
                Email:
            </label>
            <label for="oldPassword">
                Old password:
            </label>
            <label for="newPassword">
                New password:
            </label>
            <label for="newPassword2">
                Repeat password:
            </label>
        </div>
        <div class="values">
            <input id="userEmail" #userEmail />
            <input type="password" id="oldPassword" #oldPassword />
            <input type="password" id="newPassword" [(ngModel)]="newPassword" (change)="checkPasswords()" />
            <input type="password" id="newPassword2" [(ngModel)]="newPassword2" (change)="checkPasswords()" />
        </div>
        <span *ngIf="!equalPasswords">
            Both passwords must be the same.
        </span>
    </div>
    <div class="information">
        <button type="button" (click)="changePassword(userEmail.value, oldPassword.value)">
            Confirm
        </button>
        <span *ngIf="fail">
            Incorrect e-mail or password.
        </span>
        <span *ngIf="changed">
            Passwod updated!
        </span>
    </div>
</div>