.container {
    display: flex;
    flex-direction: column;
    min-height: 480px;
}

.container button {
    margin: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    background-color: #731aeb;
    color: black;
    border-color: white;
}

.container button:hover {
    color: white;
    border-color: black;
    border-radius: 10%;
    cursor: pointer;
}