<div *ngIf="colaborator" class="form">
    <div class="item">
        <h2>Colaborator Details</h2>
        <div class="checkbox">
            <label for="editing">Edit</label>
            <input type="checkbox" id="editing" [(ngModel)]="changing">
        </div>
    </div>

    <div class="item"><span>ID: </span>{{colaborator.id}}</div>
    <div class="item" *ngIf="!changing"><span>Name: </span>{{colaborator.name}}</div>
    <div class="item" *ngIf="changing">
        <label for="new-name">Name: </label>
        <input id="new-name" [(ngModel)]="colaborator.name" placeholder="name" />
    </div>
    <div class="item"><span>Email: </span>{{colaborator.email}}</div>
    <div class="item" *ngIf="!changing"><span>Role: </span>{{colaborator.role}}</div>
    <div class="item" *ngIf="changing">
        <label for="new-role">Role: </label>
        <select id="new-role" [(ngModel)]="colaborator.role">
            <option [value]="role.name" *ngFor="let role of roles">{{role.name}}</option>
        </select>
    </div>
    <div class="item" *ngIf="!changing"><span>Status: </span>{{colaborator.status}}</div>
    <div class="item" *ngIf="changing">
        <label for="new-status">Status: </label>
        <select id="new-status" [(ngModel)]="colaborator.status">
            <option [value]="status.name" *ngFor="let status of statuses">{{status.name}}</option>
        </select>
    </div>
    <div class="item"><span>Admission: </span>{{colaborator.createdAt}}</div>
    <div class="item"><span>Last update: </span>{{colaborator.updatedAt}}</div>
    <div class="item"><span>Total deliveries: </span>{{colaborator.deliveriesMade}}</div>
    <div class="item"><span>Deliveries in progress: </span>{{colaborator.deliveriesInProgress}}</div>
    <div class="item">
        <button type="button" (click)="goBack()">Back</button>
        <button *ngIf="!changing" type="button" class="action-button" (click)="delete()">Delete</button>
        <button *ngIf="changing" type="button" class="action-button" (click)="save()">Save</button>
    </div>
</div>