<div class="container" *ngIf="colaborator">
    <h2>
        Colaborator Details
    </h2>
    <div class="edit">
        <input type="checkbox" id="editing" [(ngModel)]="changing">
        <label for="editing">
            Edit
        </label>
    </div>
    <div class="information">
        <div class="labels">
            <label>
                ID:
            </label>
            <label>
                Name:
            </label>
            <label>
                Email:
            </label>
            <label>
                Role:
            </label>
            <label>
                Status:
            </label>
            <label>
                Admission:
            </label>
            <label>
                Last update:
            </label>
            <label>
                Total deliveries:
            </label>
            <label>
                Deliveries in progress:
            </label>
            <label>
                Favorite:
            </label>
        </div>
        <div class="values">
            <input class="inactive" type="text" [(ngModel)]="colaborator.id" readonly />
            <input class="inactive" *ngIf="!changing" [(ngModel)]="colaborator.name" readonly />
            <input *ngIf="changing" [(ngModel)]="colaborator.name" placeholder="name" />
            <input class="inactive" type="text" [(ngModel)]="colaborator.email" readonly />
            <input class="inactive" *ngIf="!changing" type="text" [(ngModel)]="colaborator.role" readonly />
            <select *ngIf="changing" id="new-role" [(ngModel)]="colaborator.role">
                <option [value]="role.name" *ngFor="let role of roles">
                    {{role.name}}
                </option>
            </select>
            <input class="inactive" *ngIf="!changing" type="text" [(ngModel)]="colaborator.status" readonly />
            <select *ngIf="changing" id="new-status" [(ngModel)]="colaborator.status">
                <option [value]="status.name" *ngFor="let status of statuses">{{status.name}}</option>
            </select>
            <input class="inactive" type="text" [(ngModel)]="colaborator.createdAt" readonly />
            <input class="inactive" type="text" [(ngModel)]="colaborator.updatedAt" readonly />
            <input class="inactive" type="text" [(ngModel)]="colaborator.deliveriesMade" readonly />
            <input class="inactive" type="text" [(ngModel)]="colaborator.deliveriesInProgress" readonly />
            <input type="checkbox" [(ngModel)]="colaborator.favorited" (change)="save()">
        </div>
    </div>
    <button *ngIf="!changing" type="button" class="action-button" (click)="delete()">
        Delete
    </button>
    <button *ngIf="changing" type="button" class="action-button" (click)="save()">
        Save
    </button>
</div>